.DS_Store
.env
.env.*
*.pyc
*.pyo
archive/
__pycache__/
logs/
data/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
